.error-container{
    text-align: center;
    padding-top: 25rem;
}

.error-container h2{
    font-size: 48px;
}

.btn-primary{
    border: none;
    text-decoration: none;
    background-color: rgb(243, 100, 100);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 10px;
}