@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;800&family=Exo+2:wght@300;500;700&display=swap');

/* Utilities */
* {
    margin: 0 0 0 0;
    --primary-color: rgb(9, 147, 240);
    --primary-hover-color: rgb(216, 216, 216);
    --primary-line-color: rgb(0, 118, 214);
    --secondary-color: rgb(117, 117, 117);
    --primary-width: 1000px;
    font-family: 'EB Garamond', serif;
    font-family: 'Exo 2', sans-serif;
}


.header-container {
    border-bottom: 5px solid var(--primary-line-color);
    /* background-color: antiquewhite; */
    height: 60px;
    /* position: fixed;
    width: 100%;
    background-color: aliceblue; */
}

.company-name{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

nav{
    /* margin-left: 1rem; */
}

.brand-title{
    color: var(--primary-line-color);
}

/* Header Section */

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: var(--primary-width);
    padding: 14px;
}

.title-section{
    display: flex;
    align-items: center;  
    
}

/* Header Menu */

nav ul li{
    list-style: none;
    
}
nav ul{
    display: flex;
    
}

.header-container nav .menu {
    /* margin-left: 20px; */
    text-decoration: none;
    color: black;
    padding: 22px;
}

.header-container nav .menu:hover {
    background-color: var(--primary-hover-color)
}

/* Login Button */

.btn-login {
    background-color: var(--primary-line-color);
    border: none;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    transition: 0.5s;
    margin-right: 2rem;
}

.btn-login:hover{
    background-color: var(--primary-color);
}

.btn-login .menu {
    text-decoration: none;
    color: white;
}

.btn-logout{
    background-color: red;
}

.mobile-screen-menu{
    display: block;
}

/* Logo RMM Real Mail */
.logo-rmm-real-mail{
    width: 210px;
}

/* Toogle Menu Icon */

.toogle-menu-container{
    display: none;

}
.menu-icon{
    width: 50px;
    padding: 3px;
    margin: 0 25px;
}

@media screen and (max-width: 576px) {
    .header-section{
        width: 100%;
        padding-top: 1px;
    }
    .menu{
        /* display: none; */
    }
    .mobile-screen-menu{
        display: block;
    }
    .company-name{
        font-size: 22px;
    }

    nav{
        position: absolute;
        top: 4rem;
        left: 0px;
        background-color: var(--primary-color);
        color: white;
        margin-left: -2.5rem;
        height: fit-content;
        transition: 0.5s;
    }

    nav ul li{
        padding: 20px 20px;
        
    }
    .header-container nav .menu {
        /* margin-left: 20px; */
        text-decoration: none;
        color: black;
        padding: 15px 25px;
    }

    .toogle-menu-container{
        display: block;
    }
/* Menu Toogle Class */

    .show-menu{
        display: block;
    }
    
    .hide-menu{
        display: none;
    }
    
}


