/* Utilities */

.btn-secondary{
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    margin: 10px 25px;
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    transition: 0.4s;
    border-radius: 5px;
}

.btn-secondary:hover{
    color: var(--primary-color);
    background-color: var(--primary-hover-color);
}

.upload-container{
    text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 5rem;
    padding: 50px 50px;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
}

.upload-container h2 {
    font-size: 18px;
    color: var(--primary-color);

}